<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <!--<binding name="siiBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="siiBinding1">
                    <security mode="Transport" />
                </binding>-->
                <binding name="siiBinding2">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="https://www1.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP"
                binding="basicHttpBinding" bindingConfiguration="siiBinding"
                contract="siiSOAP" name="SuministroFactEmitidas" />
            <endpoint address="https://www10.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP"
                binding="basicHttpBinding" bindingConfiguration="siiBinding1"
                contract="siiSOAP" name="SuministroFactEmitidasSello" />-->
            <endpoint address="https://www7.aeat.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP"
                binding="basicHttpBinding" bindingConfiguration="siiBinding2"
                contract="SiiSoapClient" name="SuministroFactEmitidasPruebas" />
        </client>
    </system.serviceModel>
</configuration>